*{
    background-color: rgb(42, 42, 151);
    
}
.container{
    background-color: white;
    border-radius: 30px;
    width: 400px;
    padding:200px;
    width:130vb;
    z-index: 10;

    position:center;
    margin:30px;
    position: absolute;
}
.box{
    background-color:white;
    color: black;
    position: absolute;
    top:0px;
    left:0px;
    gap:80px;
    display: flex;
    justify-content: space-around;
    z-index: 20;
}
span{
    background-color: white;
    color: black;

}
li{
    background-color: white;
    color: black;
    font-style: bold;
    font-weight: bold;
    font-size: larger;

}
input{
    background-color: rgb(145, 13, 163);
    color: white;
    padding: 5px;
    position: relative;
    left:120px;
    width: 25vb;
    border-radius: 5px;
    font-size: 15px;
    
}
form{
    background-color:white;
}
h2{
    z-index: 50;
    background-color: white;
    color:black;
    position: relative;
    top:150px;
    left:80px;

}
h2{
    z-index: 500;
    position: relative;
    width:20vi;
    display: inline;
    top: 150px;
    left: 80px;
}


    