* {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background-color: rgb(130, 194, 35); */
    background-image: linear-gradient(to right, rgb(142, 223, 20), rgb(162, 196, 25));
}

.navbar .name {
    font-weight: 800;
    font-size: larger;
    padding: 10px 20px 10px 0px;
    animation-name: name;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes name{
    from {
        color: black;
    }

    to {
        color: rgb(0, 140, 255);
    }
}

.navbar .box:hover {
    color: rgb(0, 140, 255);
    transition: all 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    
}
.project {
    display: flex;
    background-color: rgb(162, 196, 25);
}

.project .project-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50vw;
    position: relative;
    gap: 10px;
    left: 30px;
}

.project-left h1 {
    font-size: 50px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-left h3 {
    font-weight: bolder;
}

.button {
    padding: 5px;
}

.btn {
    padding: 3px;
    margin: 1px;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
    background-image: linear-gradient(to right, rgb(133, 190, 225), rgb(58, 58, 241));
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(rgb(141, 201, 51));
    transition: all 0.1s;
    transform: scale(1.05);

}
.project .project-right {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.project2 .project-right{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.project2 {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    border-top: 0.5px solid rgba(114, 114, 114, 0.521);
    background-color: rgb(162, 196, 25);

}

.project2 .project-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center; 
    width: 50vw;
    gap: 10px;
}
.project2 .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    right: 40px;
    
}

.animation {
    background-color: rgb(209, 229, 229);
    width: 100%;

}

.animation #text {
    animation-name: font;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-timing-function: linear;

}

@keyframes font {
    from {
        position: relative;
        left: 0px;
    }

    to {
        position: relative;
        left: 930px;
    }

}

@media (orientation: portrait) {
    main {
        display: flex;
        flex-direction: column;
    }

    .project,
    .project2 {
        flex-direction: column-reverse;
        height: auto;
    }

    .animation #text {
        animation-duration: 0s;
    }

    .navbar {
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .project .project-right,
    .project2 .project-right {
        width: 100%;
        height: 50vh;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project .project-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translate(0px, 0px);
        font-size: smaller;
        width: 100%;
        font-size: 30px;
        position: static;
        
    }

    .project2 .project-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: smaller;
        width: 100%;
        font-size: 30px;
        position: static;
        
    }
    .project-left h1{
        font-size: 30px;
    }
    .project-left h3{
        font-size: 20px;
    }
    .navbar .name{
        text-align: center;
    }
    .project2 .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: static;
    }
}